<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pet edit</title>
	</head>
	<body>
		<h1>{{pet.name}}</h1>

		{% if pet.photo_url %}
		<img src="{{pet.photo_url}}" class="img-thumbnail" />
		{% endif %}

		<h2>Update</h2>
		<form method="POST">
			{{form.hidden_tag()}} {% for field in form if field.widget.input_type !=
			'hidden' %}

			<div class="form-group">
				{{field.label}} {{field(class_="form-control")}} {% for err in
				field.errors %}
				<b class="text-danger">{{ error }}</b>
				{% endfor %}
			</div>
			{% endfor %}
			<button class="btn btn-primary" type="submit">Update</button>
		</form>
	</body>
</html>
